
.mySlides {
  display:none;
}

.w3-center {
  font-family: AnitypeRedwood;
  font-size: 70px;
  color: #BAC1D7;
}


@font-face{
  font-family: 'AnitypeRedwood';
  src: url("../fonts/AnitypeRedwood-1.otf");
}

@font-face{
  font-family: 'nicholson';
  src: url("../fonts/nicholson.otf");
}
