.pag{

    color: LightSkyBlue;
    width: 100%;
    margin: auto;
    text-align: center;

}

.pag a {
    float: left;
    color: white;
    font-family: AnitypeRedwood;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
}


/* Change the color of links on hover */
.pag a:hover {
    background-color: #b3e0ff;
    color: black;
}

/* Add a color to the active/current link */
.pagination active {
    background-color: white;
    color: navy blue;

}
