/* for search button */
.form input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 30%;
  background: #f1f1f1;
}

@font-face{
  font-family: 'nicholson';
  src: url("../../fonts/nicholson.otf");
}
@font-face{
  font-family: 'AnitypeRedwood';
  src: url("../../fonts/AnitypeRedwood-1.otf");
}
/* Style the submit button */
.form button {
  float: left;
  width: 10%;
  padding: 10px;
  background: #b3e0ff;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

.results{
  border-style: dotted;
  border-color: #b3e0ff;
  font-family: AnitypeRedwood;
  color: navy blue;
  width: 700px;
  background-color: #778899;

}
.search {
  margin-top: 50px;
}
.form button:hover {
  background:#b3e0ff;
}

/* Clear floats */
.form:after {
  content: "";
  clear: both;
  display: table;
}
