@font-face{
  font-family: 'nicholson';
  src: url("../../fonts/nicholson.otf");
}
@font-face{
  font-family: 'AnitypeRedwood';
  src: url("../../fonts/AnitypeRedwood-1.otf");
}

.mission h1{
  color: #b3e0ff;
  text-align: center;
  font-family: AnitypeRedwood;
}

.mission h2{
  text-align: center;
  top: 50px;
  font-family: AnitypeRedwood;
  color: white;
}

.tool_descrip {
  text-align: center;
  top: 50px;
  font-family: nicholson;
  color: white;
}

.sources{
  color: #b3e0ff;
  text-align: center;
  font-family: AnitypeRedwood;
}

.profile {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 25%;
    text-align: center;
    font-family: nicholson;
    align-items: center;
    display: inline-block;
    transition: 0.3s;
    border-radius: 5px;
    margin: 30px;
    background-color: #b3e0ff;

  }


.test {
  background-color: orange;
}

.mama {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

body {

    background-image: url("../../images/background.png");

}
