body {
  background-image: url("../images/background.png");

}

.navbar {
  font-family: AnitypeRedwood;
  font-size: 25px;
}

.header h1{
  font-family: AnitypeRedwood;
  font-size: 100px;
  text-align: center;
  color: white;
}

#harveyinfo H1{
  font-family: nicholson;
  font-size: 60px;
  width: 67%;
  color: #b3e0ff;
}

#harveyinfo p{
  font-family: nicholson;
  text-align: center;
  font-size: 15px;
  color: white;
}

#harveyinfo p2{
  font-family: nicholson;
  margin-right: 150px;
}

#harveyinfo p3{
  font-family: nicholson;
  margin-left: 150px;
}

#relatedinfo H1{
  font-family: nicholson;
  font-size: 60px;
  width: 67%;
  color: #b3e0ff;
}

a:link {
    text-decoration: none;
    color: #262626;
}

.profile {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 35%;
    height: 40%
    align-items: center;
    display: inline-block;
    transition: 0.3s;
    border-radius: 5px;
    margin: 50px;
    font-family: nicholson;
  }

.profile_row1::after {
  content: "";
  clear: both;
  display: table;
}

.profile_row2::after {
  content: "";
  clear: both;
  display: table;
}

.profile.img {
  border-radius: 5px 5px 0 0;

}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}




@font-face{
  font-family: 'AnitypeRedwood';
  src: url("../fonts/AnitypeRedwood-1.otf");
}

@font-face{
  font-family: 'nicholson';
  src: url("../fonts/nicholson.otf");
}
