@font-face{
  font-family: 'nicholson';
  src: url("../../fonts/nicholson.otf");
}
@font-face{
  font-family: 'AnitypeRedwood';
  src: url("../../fonts/AnitypeRedwood-1.otf");
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: navy blue;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: white;
    font-family: AnitypeRedwood;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #b3e0ff;
    color: black;
}

/* Add a color to the active/current link */
.topnav a:active {
    background-color: navy blue;
    color: white;

}
