.splash h1{
  color: white;
  font-family: AnitypeRedwood;
  font-size: 70px;
  text-align: center;
}

.splash {
  width: 650px;

}

@font-face{
  font-family: 'nicholson';
  src: url("../../fonts/nicholson.otf");
}
@font-face{
  font-family: 'AnitypeRedwood';
  src: url("../../fonts/AnitypeRedwood-1.otf");
}
