@font-face{
  font-family: 'AnitypeRedwood';
  src: url("../fonts/AnitypeRedwood-1.otf");
}

@font-face{
  font-family: 'nicholson';
  src: url("../fonts/nicholson.otf");
}


.card {
position: absolute;
top: 250px;
left: 82px;
width: 300px;
height: 425px;
font-family: nicholson;
border: 3px solid grey;
background: #b3e0ff;
transition: all 0.6s ease;
text-align: center;

}

.card2 {
position: absolute;
top: 250px;
left: 495px;
width: 300px;
height: 425px;
font-family: nicholson;
border: 3px solid grey;
background: #b3e0ff;
transition: all 0.6s ease;
text-align: center;
}

.card3 {
position: absolute;
top: 250px;
left: 902px;
width: 300px;
height: 425px;
font-family: nicholson;
border: 3px solid grey;
background: #b3e0ff;
transition: all 0.6s ease;
text-align: center;
}

/*.card:hover {

transform:rotateY(180deg);
}*/
/*
.front {
	background: #b3e0ff
	position: absolute;
	top:0;
	left:0;
	width: 284px;
	height: 200px;
	backface-visibility: hidden;
}

.back {
	top:0;
	left:0;
	width: 284px;
	height: 200px;
	transform:rotateY(180deg);
}*/


/*.card2:hover {

transform:rotateY(180deg);
}

.card3:hover {

transform:rotateY(180deg);
}
*/