.navbar {
  font-family: AnitypeRedwood;
  font-size: 25px;
}
.navbar-brand {
  font-color: white;
  font-family: nicholson;
  font-size: 25px;
}

@font-face{
  font-family: 'nicholson';
  src: url("../fonts/nicholson.otf");
}
@font-face{
  font-family: 'AnitypeRedwood';
  src: url("../fonts/AnitypeRedwood-1.otf");
}

.navbar a:hover {
  background-color: #b3e0ff;
}
/* Show it is fixed to the top */
body {
  font: AnitypeRedwood;
  min-height: 75rem;
  padding-top: 4.5rem;
  background-image: url("../images/background.png");
}

h1.Mission {
  text-align: center;
  top: 10px;
  font-family: AnitypeRedwood;
  font-size: 60px;
  color: #b3e0ff;

}

h2.MissionInfo {
  text-align: center;
  top: 10px;
  font-family: AnitypeRedwood;
  font-size: 30px;
  color: white;
}


body.Mission{
  text-align: center;
  top: 50px;
  font-family: nicholson;
}

h1.Team {
  font-family: AnitypeRedwood;
  text-align: center
  top: 50px;
}

.button {
  color: #4682B4
}

.form {
  color: #4682B4
}


.profile {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 25%;
    align-items: center;
    display: inline-block;
    transition: 0.3s;
    border-radius: 5px;
    margin: 30px;
    background-color: #b3e0ff;
  }

.profile_row1::after {
  content: "";
  clear: both;
  display: table;
}

.profile_row2::after {
  content: "";
  clear: both;
  display: table;
}
/* On mouse-over, add a deeper shadow */
.profile:hover {
    box-shadow: 0 4px 16px 0 rgba(0,0,0,0.2);
}

.profile.img {
  border-radius: 5px 5px 0 0;
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}
