

.description h1{
    color: white;
  text-align: center;
  top: 50px;
  font-family: AnitypeRedwood;
  font-size: 50px;
}

@font-face{
  font-family: 'nicholson';
  src: url("../../fonts/nicholson.otf");
}
@font-face{
  font-family: 'AnitypeRedwood';
  src: url("../../fonts/AnitypeRedwood-1.otf");
}

.map{
  width: '500px';
  height: '400px';
  border: '1px solid #ccc';
}


.related1{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 25%;
  text-align: center;
  font-family: nicholson;
  align-items: center;
  display: inline-block;
  transition: 0.3s;
  border-radius: 5px;
  margin: 30px;
  font-size: 20px;
  background-color: #b3e0ff;
  height: 350px;
  width: 400px;
  vertical-align: top;
}


.related2{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 25%;
  text-align: center;
  font-family: nicholson;
  align-items: center;
  display: inline-block;
  transition: 0.3s;
  border-radius: 5px;
  margin: 30px;
  font-size: 20px;
  background-color: #b3e0ff;
  height: 350px;
  width: 400px;
  vertical-align: top;
}


.filter p{
  margin: auto;
  overflow: hidden;
  color: #b3e0ff;
  align-content: center;
  text-align: center;
  font-size: 15px;
  font-family: nicholson;
}

.filter select{
  width: 150px;
}

.sortandfilter{
  border-style: dotted	;
  border-color: #b3e0ff;
  width: 500px;
  font-size: 15px;
}
.sort{
  margin: auto;
  overflow: hidden;
  color:  #b3e0ff;
  align-content: center;
  text-align: center;
  font-size: 8px;
  font-family: nicholson;
}

.profile {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 25%;
    text-align: center;
    font-family: nicholson;
    align-items: center;
    display: inline-block;
    transition: 0.3s;
    border-radius: 5px;
    margin: 30px;
    font-size: 15px;
    height: 510px;
    width: 311px;
    vertical-align: top;
    background-color: #b3e0ff;
  }

.relatedinfo h1{
  color: white;
}
.profileinst{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 25%;
  text-align: center;
  font-family: nicholson;
  align-items: center;
  display: inline-block;
  transition: 0.3s;
  border-radius: 5px;
  margin: 30px;
  font-size: 15px;
  background-color: #b3e0ff;
}

.search{
  margin-left: 36.5%;
}

.profilesearch{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 25%;
  text-align: center;
  font-family: nicholson;
  align-items: center;
  display: inline-block;
  transition: 0.3s;
  border-radius: 5px;
  margin: 30px;
  font-size: 15px;
  color: navy blue;
  background-color: #b3e0ff;
}
.search button {
  font-family: nicholson;
  color: snavy blue;
}

  .all-dis {
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 15px;
}

.id {
  color: white;
}

body {

    background-image: url("../../images/background.png");
    align-items: center;

}
